In [65]:
from yahooquery import Ticker
import datetime
import calendar
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Update = True # Set to true to update database from online data, update is necessary if following values have been changed

# Set path for data file
path = './Data/options.csv'

#-- Write ticker names of desired options data --
identifiers = 'fb aapl amzn nflx goog'


def update_data():
    tickers = Ticker(identifiers) # sets tickers to stocks identified

    df = tickers.option_chain

    currency = list(set(df['currency']))

    if(currency == ['USD']):
        df2 = df.drop(columns='currency')
        df2 = df2.drop(columns=['contractSymbol'])
        inTheMoney = df2.inTheMoney
        df2 = df2.iloc[:,:2]
        df2['inTheMoney']=inTheMoney
    else:
        raise Exception("Unexpected currency found.")

    df2.to_csv(path)

    return df2


# Calls function to update database or loads old database
if Update == True:
    df = update_data()
else:
    df = pd.read_csv(path,index_col=[0,1,2])

df

                              strike  lastPrice  inTheMoney
symbol expiration optionType
aapl   2023-11-17 calls         50.0     134.70        True
                  calls         55.0     126.90        True
                  calls         60.0     124.65        True
                  calls         65.0     116.95        True
                  calls         70.0     111.95        True
...                              ...        ...         ...
nflx   2026-01-16 puts         780.0     383.78        True
                  puts         800.0     398.00        True
                  puts         820.0     404.16        True
                  puts         850.0     444.08        True
                  puts         880.0     483.81        True

[8726 rows x 3 columns]

In [19]:
from yahooquery import Ticker

path = './Data/options.csv'

faang = Ticker('fb aapl amzn nflx goog')
df = faang.option_chain

df.tail()

                                   contractSymbol  strike currency  lastPrice  \
symbol expiration optionType
nflx   2026-01-16 puts        NFLX260116P00780000   780.0      USD     383.78
                  puts        NFLX260116P00800000   800.0      USD     398.00
                  puts        NFLX260116P00820000   820.0      USD     404.16
                  puts        NFLX260116P00850000   850.0      USD     444.08
                  puts        NFLX260116P00880000   880.0      USD     483.81

                              change  percentChange  volume  openInterest  \
symbol expiration optionType
nflx   2026-01-16 puts           0.0            0.0     0.0           0.0
                  puts           0.0            0.0    16.0           0.0
                  puts           0.0            0.0     0.0           0.0
                  puts           0.0            0.0     0.0           0.0
                  puts           0.0            0.0     0.0           0.0

                                bid    ask contractSize       lastTradeDate  \
symbol expiration optionType
nflx   2026-01-16 puts        373.0  383.0      REGULAR 2023-09-19 19:07:33
                  puts          0.0    0.0      REGULAR 2023-10-20 18:20:13
                  puts        459.5  469.0      REGULAR 2023-09-13 18:19:59
                  puts        489.5  499.0      REGULAR 2023-09-14 14:40:34
                  puts        473.0  483.0      REGULAR 2023-09-19 19:07:33

                              impliedVolatility  inTheMoney
symbol expiration optionType
nflx   2026-01-16 puts                 0.475240        True
                  puts                 0.000010        True
                  puts                 0.660862        True
                  puts                 0.675807        True
                  puts                 0.501584        True

In [56]:
currency = list(set(df['currency']))

if(currency == ['USD']):
    df2 = df.drop(columns='currency')
    df2 = df2.drop(columns=['contractSymbol'])
    inTheMoney = df2.inTheMoney
    df2 = df2.iloc[:,:2]
    df2['inTheMoney']=inTheMoney
else:
    raise Exception("Unexpected currency found.")

df2.to_csv(path)

                              strike  lastPrice  inTheMoney
symbol expiration optionType
aapl   2023-11-17 calls         50.0     134.70        True
                  calls         55.0     126.90        True
                  calls         60.0     124.65        True
                  calls         65.0     116.95        True
                  calls         70.0     111.95        True
...                              ...        ...         ...
nflx   2026-01-16 puts         780.0     383.78        True
                  puts         800.0     398.00        True
                  puts         820.0     404.16        True
                  puts         850.0     444.08        True
                  puts         880.0     483.81        True

[8726 rows x 3 columns]