In [27]:
import numpy as np
import scipy.stats as stats
import pandas as pd

S0 = 176
K = 55
T = 21/365
sigma = 0.3
r = 0.053
type = "calls"

N = int(np.ceil(T*252)) #Time steps with trading days
dt = T / N
u = np.exp(sigma*np.sqrt(dt))
d = np.exp(-sigma*np.sqrt(dt))
q = (np.exp(r*dt) - d) / (u - d)

stock_tree = np.zeros((N+1, N+1))
stock_tree[0, 0] = S0

for i in range(1, N+1):
    stock_tree[i, 0] = stock_tree[i-1, 0] * u
    for j in range(1, i+1):
        stock_tree[i, j] = stock_tree[i-1, j-1] * d

option_tree = np.zeros((N+1, N+1))
for j in range(N+1):
    if type == "calls":
        option_tree[N, j] = max(stock_tree[N, j] - K, 0)
    elif type == "puts":
        option_tree[N, j] = max(K - stock_tree[N, j], 0)
    else:
        raise Exception("Unexpected input")

for i in range(N-1, -1, -1):
    if type == "calls":
        for j in range(i+1):
            option_tree[i, j] = max(np.exp(r*dt) * (q * option_tree[i+1, j] + (1-q) * option_tree[i+1, j+1]), stock_tree[N, j] - K)
    elif type == "puts":
        for j in range(i+1):
            option_tree[i, j] = max(np.exp(r*dt) * (q * option_tree[i+1, j] + (1-q) * option_tree[i+1, j+1]), K - stock_tree[N, j])
option_tree[0, 0]
pd.DataFrame(stock_tree)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,176.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,179.300595,172.760163,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,182.663088,176.000000,169.579965,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,186.088639,179.300595,172.760163,166.458308,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,189.578430,182.663088,176.000000,169.579965,163.394116,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,193.133667,186.088639,179.300595,172.760163,166.458308,160.386330,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,196.755577,189.578430,182.663088,176.000000,169.579965,163.394116,157.433911,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,200.445410,193.133667,186.088639,179.300595,172.760163,166.458308,160.386330,154.535841,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,204.204439,196.755577,189.578430,182.663088,176.000000,169.579965,163.394116,157.433911,151.691120,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,208.033963,200.445410,193.133667,186.088639,179.300595,172.760163,166.458308,160.386330,154.535841,148.898764,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,211.935304,204.204439,196.755577,189.578430,182.663088,176.000000,169.579965,163.394116,157.433911,151.691120,146.157811,0.000000,0.000000,0.000000,0.000000,0.000000
11,215.909807,208.033963,200.445410,193.133667,186.088639,179.300595,172.760163,166.458308,160.386330,154.535841,148.898764,143.467313,0.000000,0.000000,0.000000,0.000000
12,219.958847,211.935304,204.204439,196.755577,189.578430,182.663088,176.000000,169.579965,163.394116,157.433911,151.691120,146.157811,140.826343,0.000000,0.000000,0.000000
13,224.083819,215.909807,208.033963,200.445410,193.133667,186.088639,179.300595,172.760163,166.458308,160.386330,154.535841,148.898764,143.467313,138.233988,0.000000,0.000000
14,228.286149,219.958847,211.935304,204.204439,196.755577,189.578430,182.663088,176.000000,169.579965,163.394116,157.433911,151.691120,146.157811,140.826343,135.689354,0.000000
15,232.567286,224.083819,215.909807,208.033963,200.445410,193.133667,186.088639,179.300595,172.760163,166.458308,160.386330,154.535841,148.898764,143.467313,138.233988,133.191561

In [29]:
N = int(np.ceil(T*252)) #Time steps with trading days
dt = T / N
u = np.exp(sigma*np.sqrt(dt))
d = np.exp(-sigma*np.sqrt(dt))
q = (np.exp(r*dt) - d) / (u - d)

stock_tree = np.zeros((N+1, N+1))
stock_tree[0, 0] = S0

for i in range(1, N+1):
    stock_tree[i, 0] = stock_tree[i-1, 0] * u
    for j in range(1, i+1):
        stock_tree[i, j] = stock_tree[i-1, j-1] * d

option_tree = np.zeros((N+1, N+1))
for j in range(N+1):
    if type == "calls":
        option_tree[N, j] = max(stock_tree[N, j] - K, 0)
    elif type == "puts":
        option_tree[N, j] = max(K - stock_tree[N, j], 0)
    else:
        raise Exception("Unexpected input, please try again")
    
pd.DataFrame(option_tree)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
11,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
13,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
14,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
15,177.567286,169.083819,160.909807,153.033963,145.44541,138.133667,131.088639,124.300595,117.760163,111.458308,105.38633,99.535841,93.898764,88.467313,83.233988,78.191561

In [30]:
for i in range(N-1, -1, -1):
    if type == "calls":
        for j in range(i+1):
            option_tree[i, j] = max(np.exp(r*dt) * (q * option_tree[i+1, j] + (1-q) * option_tree[i+1, j+1]), stock_tree[i, j] - K)
    elif type == "puts":
        for j in range(i+1):
            option_tree[i, j] = max(np.exp(r*dt) * (q * option_tree[i+1, j] + (1-q) * option_tree[i+1, j+1]), K - stock_tree[i, j])
option_tree[0, 0]
pd.DataFrame(option_tree)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,121.908670,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,125.167340,118.589572,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,128.485563,121.787164,115.333106,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,131.864432,125.043190,118.470769,112.138093,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,135.305060,128.358720,121.665766,115.216954,109.003378,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,138.808578,131.734848,124.919149,118.352071,112.024542,105.927826,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,142.376140,135.172683,128.231990,121.544476,115.100905,108.892380,102.910326,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,146.008921,138.673358,131.605377,124.795219,118.233478,111.911093,105.819333,99.949784,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,149.708117,142.238025,135.040423,128.105371,121.423293,114.984960,108.781481,102.804289,97.045130,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,153.474946,145.867858,138.538257,131.476021,124.671399,118.114991,111.797745,105.710936,99.846158,94.195313,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,157.310648,149.564051,142.100031,134.908279,127.978865,121.302218,114.869118,108.670681,102.698348,96.943870,91.399301,0.000000,0.000000,0.000000,0.000000,0.000000
11,161.216486,153.327823,145.726918,138.403275,131.346780,124.547688,117.996610,111.684498,105.602637,99.742626,94.096374,88.656083,0.000000,0.000000,0.000000,0.000000
12,165.193747,157.160412,149.420112,141.962158,134.776253,127.852470,121.181250,114.753379,108.559981,102.592502,96.842701,91.302639,85.964665,0.000000,0.000000,0.000000
13,169.243741,161.063080,153.180829,145.586102,138.268412,131.217652,124.424087,117.878334,111.571353,105.494435,99.639187,93.997524,88.561655,83.324073,0.000000,0.000000
14,173.367801,165.037113,157.010307,149.276298,141.824407,134.644342,127.726188,121.060390,114.637744,108.449379,102.486751,96.741624,91.206065,85.872429,80.733351,0.000000
15,177.567286,169.083819,160.909807,153.033963,145.445410,138.133667,131.088639,124.300595,117.760163,111.458308,105.386330,99.535841,93.898764,88.467313,83.233988,78.191561

In [26]:

for i in range(N-1, -1, -1):
    for j in range(i+1):
        option_tree[i, j] = np.exp(r*dt) * (q * option_tree[i+1, j] + (1-q) * option_tree[i+1, j+1])
pd.DataFrame(option_tree)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,121.908670,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,125.167340,118.589572,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,128.485563,121.787164,115.333106,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,131.864432,125.043190,118.470769,112.138093,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,135.305060,128.358720,121.665766,115.216954,109.003378,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,138.808578,131.734848,124.919149,118.352071,112.024542,105.927826,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,142.376140,135.172683,128.231990,121.544476,115.100905,108.892380,102.910326,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,146.008921,138.673358,131.605377,124.795219,118.233478,111.911093,105.819333,99.949784,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,149.708117,142.238025,135.040423,128.105371,121.423293,114.984960,108.781481,102.804289,97.045130,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,153.474946,145.867858,138.538257,131.476021,124.671399,118.114991,111.797745,105.710936,99.846158,94.195313,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,157.310648,149.564051,142.100031,134.908279,127.978865,121.302218,114.869118,108.670681,102.698348,96.943870,91.399301,0.000000,0.000000,0.000000,0.000000,0.000000
11,161.216486,153.327823,145.726918,138.403275,131.346780,124.547688,117.996610,111.684498,105.602637,99.742626,94.096374,88.656083,0.000000,0.000000,0.000000,0.000000
12,165.193747,157.160412,149.420112,141.962158,134.776253,127.852470,121.181250,114.753379,108.559981,102.592502,96.842701,91.302639,85.964665,0.000000,0.000000,0.000000
13,169.243741,161.063080,153.180829,145.586102,138.268412,131.217652,124.424087,117.878334,111.571353,105.494435,99.639187,93.997524,88.561655,83.324073,0.000000,0.000000
14,173.367801,165.037113,157.010307,149.276298,141.824407,134.644342,127.726188,121.060390,114.637744,108.449379,102.486751,96.741624,91.206065,85.872429,80.733351,0.000000
15,177.567286,169.083819,160.909807,153.033963,145.445410,138.133667,131.088639,124.300595,117.760163,111.458308,105.386330,99.535841,93.898764,88.467313,83.233988,78.191561

In [6]:
import yfinance as yf
from yahooquery import Ticker
from datetime import date, timedelta
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import Price_Models as pm
import Data

def getdata(OldData = False):
    # Set to true to update database from online data, if false will pull data from csv files
    Update = False
    trade_days = 256
    est_price_path = './Data/tmp.csv'

    #-- Desired interval examined --
    start_date = date(2018,11,7)
    end_date = date(2023,11,14)
    df_end = end_date + timedelta(days=1) #Add one day as yf functions don't include last day

    # Importing data
    df = Data.GetData(start_date, df_end, trade_days, Update, OldData)
    df = df.drop(columns=['symbol', 'expiration', 'lastTradeDate', 'inTheMoney'])

    def binary_vec_type(strings):
        return [int(s == "calls") for s in strings]
    def binary_vec_method(strings):
        return [int(s == "A") for s in strings]

    df.optionType = binary_vec_type(df.optionType)
    df.method = binary_vec_method(df.method)
    df.maturity = df.maturity/365
    lastprice = df.lastPrice
    df = df.drop(columns='lastPrice')
    df = df.assign(lastPrice = lastprice)
    return df

In [7]:
data = getdata(True)

def modifydata(df):
    data = []
    df_calls = df[df.optionType == 1].drop(columns='optionType')
    df_american_calls = df_calls[df_calls.method == 1].drop(columns='method')
    df_american_calls
    df_american_calls = df_american_calls[df_american_calls.lastPrice > 5]
    # df_american_calls = df_american_calls.drop(columns='index')
    y = np.asarray(df_american_calls[['lastPrice']])
    df_american_calls = df_american_calls.drop(columns='lastPrice')

    for line in range(len(df_american_calls)):
        data_tmp = df_american_calls.iloc[line]
        data.append(data_tmp)
    data = np.asarray(data)

    return data, y
len(data)

94165

In [8]:

len(modifydata(data)[0])

12739